appdirs==1.4.4
asttokens==2.0.8
attrs==22.1.0
backcall==0.2.0
beautifulsoup4==4.11.2
bleach==5.0.1
certifi==2022.12.7
chardet==5.1.0
charset-normalizer==2.1.1
colorama==0.4.5
comm==0.1.2
contourpy==1.0.6
cycler==0.11.0
debugpy==1.6.6
decorator==5.1.1
defusedxml==0.7.1
entrypoints==0.4
et-xmlfile==1.1.0
executing==1.2.0
fastjsonschema==2.16.2
flake8==6.0.0
fonttools==4.38.0
greenlet==2.0.2
idna==3.4
importlib-metadata==6.0.0
ipykernel==6.21.1
ipython==8.10.0
jedi==0.18.1
Jinja2==3.1.2
jsonschema==4.17.3
jupyter_client==8.0.2
jupyter_core==5.2.0
jupyterlab-pygments==0.2.2
kiwisolver==1.4.4
lxml==4.9.2
MarkupSafe==2.1.1
matplotlib==3.6.3
matplotlib-inline==0.1.6
mccabe==0.7.0
mistune==2.0.4
nbclient==0.7.2
nbconvert==7.2.7
nbformat==5.7.0
nest-asyncio==1.5.6
numpy==1.24.2
openpyxl==3.1.0
packaging==23.0
pandas==1.5.3
pandocfilters==1.5.0
parso==0.8.3
pickleshare==0.7.5
Pillow==9.4.0
platformdirs==3.0.0
plotly==5.11.0
prompt-toolkit==3.0.36
psutil==5.9.2
psycopg2==2.9.5
pure-eval==0.2.2
pycodestyle==2.10.0
pyee==8.2.2
pyflakes==3.0.1
Pygments==2.13.0
pyparsing==3.0.9
pyppeteer==1.0.2
pyrsistent==0.19.2
python-dateutil==2.8.2
pytz==2022.4
pywin32==304
pyzmq==24.0.1
requests==2.28.1
schedule==1.1.0
seaborn==0.12.2
six==1.16.0
soupsieve==2.3.2.post1
sql==2022.4.0
SQLAlchemy==2.0.3
stack-data==0.5.1
tenacity==8.1.0
tinycss2==1.2.1
tornado==6.2
tqdm==4.64.1
traitlets==5.4.0
typing_extensions==4.4.0
urllib3==1.26.13
wcwidth==0.2.5
webencodings==0.5.1
websockets==10.4
zipp==3.11.0
